<nav class="navbar navbar-expand-md bg-body-tertiary" id="confluid">
    <div class="container-fluid">
      <div class="d-flex justify-content-between d-md-none d-block">
          <button class="btn px-1 py-0 open-btn me-2" (click)="onOpenSideBar()"><i class="fas fa-stream"></i></button>
          <a class="navbar-brand fs-4" href="#"><span class="bg-dark rounded px-2 py-0 text-white">Bootstrap Sidebar Demo</span></a>
      </div>
      <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="dashboard-content px-2 pt-1">
    <router-outlet></router-outlet> 
 </div>
 