#side_nav{
    background: #efefef;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background: #000;
    color: #efefef;
}

 .sidebar li.active {
    background: #000;
    border-radius: 8px;
 }

 .sidebar li.active a, .sidebar .li.active a:hover {
    color: #efefef;
 }

 .sidebar li a {
    color: #000;
 }

 @media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active{
        margin-left: 0;
    }
 }